@font-face {
    font-family: "Poppins";  
    src: url("../fonts/Inika/Inika-Regular.woff") format("truetype"); 
    font-style: normal; 
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";  
    src: url("../fonts/Inika/Inika-Bold.woff") format("truetype"); 
    font-style: bold; 
    font-weight: 700;
    
}
